@import 'bootstrap/dist/css/bootstrap';

.point-card:hover {
    background-color: var(--bs-indigo);
    cursor: pointer;
}

.clear-card:hover {
    background-color: var(--bs-danger);
    color: var(--bs-light);
    cursor: pointer;
}

.bar-chart {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 200px;
    gap: 20px;
    border-bottom: 2px solid white;
}

.bar {
    width: 40px;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    font-size: 0.9rem;
}
